{% trans_default_domain 'RingCoinAppBundle' %}

{% for transaction in transactions %}
    {% if transaction.type=='achat' %}
        <div class="exchange message {% if transaction.statu=='pending' %}exchange-orange{% endif %}">
            <h3 class="h3-responsive">
                {{ 'backoffice.achatRing'|trans }}
                <small class="float-right">+{{ transaction.nbrePieces }}RC</small>
            </h3>
            <p>
                <span>{{ 'backoffice.idTransaction'|trans }} : {{ transaction.motif }}</span>
            </p>
            <p class="float-right mt-2 mt-md-0">{{ transaction.date|date('H')~'h'~transaction.date|date('i')~' GMT '~transaction.date|date('d/m/Y') }}</p>
        </div>
    {% else %}
        <div class="exchange message {% if transaction.statu=='pending' %}exchange-orange{% endif %}">
            <h3 class="h3-responsive">
                {{ 'backoffice.ringBonus'|trans }}
                <small class="float-right">+{{ transaction.nbrePieces }}RC</small>
            </h3>
            <p>
                {{ transaction.motif|trans }}
            <p class="float-right mt-2 mt-md-0">{{ transaction.date|date('H')~'h'~transaction.date|date('i')~' GMT '~transaction.date|date('d/m/Y') }}</p>
            </p>

        </div>
    {% endif %}
{% else %}
    <h3 class="text-center pt-5" style="margin-top: 5rem;">{{ 'backoffice.emptyTransaction'|trans }}</h3>
{% endfor %}
